*
!.gitignore

!.storybook/
!.storybook/*

!.vscode/
!.vscode/extensions.json
!.vscode/settings.sample.json

!public/
!public/**/
!public/**/*

!src/
!src/**/
!src/**/*
src/stories/

!.editorconfig
!.prettierignore
!.prettierrc
!eslint.config.js
!generate-react-cli.json
!index.html
!package.json
!pnpm-lock.yaml
!postcss.config.js
!tailwind.config.ts
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

!README.md
